{% extends "layout.html" %}
{% block title %}
Admin Dashboard
{% endblock %}
{% block content %}
<div class="admin">
    <div class="logout">
        <label>Hello {{username}} </label>
        <a class="btn btn-custom btn-sm" href="/logout" role="button">Logout</a>
    </div>
    <a class="btn btn-custom btn-lg" href="{{url_for('survey_list')}}" role="button">Survey List</a>
    <a class="btn btn-custom btn-lg" href="{{url_for('survey_builder')}}" role="button">Survey Builder</a> 
    <br><br>
    <h1><b>Patient List</b></h1>
</div>

{% for patient in patients %}
<div class="admin center">
    <div class="card-body">
        <ul class="list-group">
            <a class="list-group-item" href="{{ url_for('go_to_patient', patientid=patient.id) }}">{{ patient.firstname }} {{ patient.lastname }}</a>
        </ul>
    </div>
</div>

{% endfor %}
{% endblock %}
