{% extends "layout.html" %}
{% block title %}
Admin Dashboard
{% endblock %}
{% block content %}
<div class="admin">
    <div class="logout">
        <label>Velkommen {{username}} </label>
        <a class="btn negativ-btn" href="/logout" role="button">Log ud</a>
    </div>
    <a class="btn default-btn btn-lg" href="{{url_for('survey_list')}}" role="button">Spørgeskemaer</a>
    <a class="btn default-btn btn-lg" href="{{url_for('survey_builder')}}" role="button">Opret Spørgeskema</a> 
    <br><br>
    <h1>Patientliste</h1>
    <hr style="border: none; height: 3px; background-color: black; width: 600px; margin: auto;">
</div>

{% for patient in patients %}
<div class="patient-list">
    <a class="default-btn" href="{{ url_for('go_to_patient', patientid=patient.id) }}" role="button">{{ patient.firstname }} {{ patient.lastname }}</a>
</div>

{% endfor %}
{% endblock %}
