{% extends "layout.html" %}
{% block title %}
Patient Data
{% endblock %}
{% block content %}
<p>Patient List</p>
<a class="btn btn-secondary" href="/logout" role="button">Logout</a>

{% for response in responses %}
    <div class="card">
        <div class="card-body">
            <label> {{response.survey.title}}</label> <hr>
            {% for answer in response.answers%}
                <label> {{answer.question.text}} </label>
                <label> -> Answer: {{answer.choice.text}} </label> <br>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% endblock %}