{% extends "layout.html" %}
{% block title %}
Patient Data
{% endblock %}
{% block content %}
<div class="backAndlogout">
        <a class="btn neutral-btn" href="/admin_dashboard" role="button">&larr; Tilbage</a>
        <a class="btn negativ-btn" href="/logout" role="button">Log ud</a>
</div>

<label>Patient: {{ responses[0].patient.firstname}} {{ responses[0].patient.lastname}} {{ responses[0].patient.cpr}}</label>

{% for response in responses %}
    <div class="card">
        <div class="card-body">
            <label> {{ response.survey.title }}</label> <hr>
            {% for answer in response.answers%}
                <label> {{answer.question.text}} </label>
                {% if answer.question.question_type == 'text' %}
                    <p> Svar:  {{answer.text}} </p> <br>
                {% else %}
                    {% for option in answer.choices %}
                        <label> -> Svar: {{option.choice.text}} </label> <br>
                    {% endfor %}
                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endfor %}

{% endblock %}