{% extends "layout.html" %}
{% block title %}
Patient List
{% endblock %}
{% block content %}
<a class="btn negativ-btn" href="/logout" role="button">Logout</a> <br>
<p>Patient List</p>
Hello {{username}} 

{% for patient in patients %}
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <a class="list-group-item" href="{{ url_for('go_to_patient', patientid=patient.id) }}">{{ patient.firstname }} {{ patient.lastname }}</a>
        </ul>
    </div>
</div>
{% endfor %}
{% endblock %}
