{% extends "layout.html" %}
{% block title %}
Spørgeskema 1
{% endblock %}
{% block content %}

<!-- Knap der sender Data-->
<form id="spørgeskema" action="{{url_for("spørgeskema1")}}" method="POST">

    <!-- Personlig Information -->
    <div class="card">
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="fornavn" class="form-label">Fornavnavn:</label>
                    <input type="text" class="form-control" id="fornavn" name="fornavn" placeholder="Oliver" required>
                </div>
                <div class="col-md-6">
                    <label for="efternavn" class="form-label">Efternavn:</label>
                    <input type="text" class="form-control" id="efternavn" name="efternavn" placeholder="Skaarup" required>
                </div>
                <div class="col-12">
                    <label for="CPR-nummer" class="form-label">CPR-Nummer</label>
                    <input type="text" class="form-control" id="CPR-nummer" name="cpr" placeholder="071296-xxxx" required>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Spørgsmål et -->
    <div class="card">
        <div class="card-body">
            <p>sover du alene?</p>
            <input type="hidden" name="sp1tekst" value="sover du alene?">

            <input type="radio" id="ja" name="sp1svar" value="ja" required>
            <label for="ja">ja</label><br>
            <input type="hidden" name="sp1option1" value="ja">

            <input type="radio" id="nej" name="sp1svar" value="nej" required>
            <label for="nej">nej</label><br>
            <input type="hidden" name="sp1option2" value="nej">
            <br>

            <label for="sover du alene?">uddyb her</label>
            <input type="text" class="form-control" id="sover du alene?" name="sp1uddyb" placeholder="skriv her...">

        </div>
    </div>

    <!-- Spørgsmål to -->
    <div class="card">
        <div class="card-body">
            <p>føler du dig veludhvilet når du vågner?</p>
            <input type="hidden" name="sp2tekst" value="føler du dig veludhvilet når du vågner?">

            <input type="radio" id="ja" name="sp2svar" value="ja" required>
            <label for="ja">ja</label><br>
            <input type="hidden" name="sp2option1" value="ja">

            <input type="radio" id="nej" name="sp2svar" value="nej" required>
            <label for="nej">nej</label><br>
            <input type="hidden" name="sp2option2" value="nej">
            <br>

            <label for="føler du dig veludhvilet når du vågner?">uddyb her</label>
            <input type="text" class="form-control" id="føler du dig veludhvilet når du vågner?" name="sp2uddyb" placeholder="skriv her...">

        </div>
    </div>

        <!-- Spørgsmål tre -->
    <div class="card">
        <div class="card-body">
            <p>Har du oplevet søvnparalyse?</p>
            <input type="hidden" name="sp3tekst" value="Har du oplevet søvnparalyse?">

            <input type="radio" id="ja" name="sp3svar" value="ja" required>
            <label for="ja">ja</label><br>
            <input type="hidden" name="sp3option1" value="ja">

            <input type="radio" id="nej" name="sp3svar" value="nej" required>
            <label for="nej">nej</label><br>
            <input type="hidden" name="sp3option2" value="nej">
            <br>

            <label for="Har du oplevet søvnparalyse">uddyb her</label>
            <input type="text" class="form-control" id="Har du oplevet søvnparalyse" name="sp3uddyb" placeholder="skriv her...">

        </div>
    </div>

    <!-- Spørgsmål fire -->
    <div class="card">
        <div class="card-body">
            <p>Hvad laver du, fra du lægger dig i sengen, til du sover?</p>
            <input type="hidden" name="sp4tekst" value="Hvad laver du, fra du ligger dig i sengen, til du sover?">

            <input type="radio" id="Lægger med din telefon" name="sp4svar" value="Ligger med din telefon" required>
            <label for="Lægger med din telefon">Ligger med din telefon</label><br>
            <input type="hidden" name="sp4option1" value="Ligger med din telefon">

            <input type="radio" id="Læser en bog" name="sp4svar" value="Læser en bog" required>
            <label for="Læser en bog">Læser en bog</label><br>
            <input type="hidden" name="sp4option2" value="Læser en bog">

            <input type="radio" id="Mediterer" name="sp4svar" value="Mediterer" required>
            <label for="Mediterer">Mediterer</label><br>
            <input type="hidden" name="sp4option3" value="Mediterer">

            <input type="radio" id="onanerer" name="sp4svar" value="onanerer" required>
            <label for="onanerer">onanerer</label><br>
            <input type="hidden" name="sp4option4" value="onanerer">

            <input type="radio" id="har sex" name="sp4svar" value="har sex" required>
            <label for="har sex">har sex</label><br>
            <input type="hidden" name="sp4option5" value="har sex">

            <input type="radio" id="Ser TV" name="sp4svar" value="Ser TV" required>
            <label for="Ser TV">Ser TV</label><br>
            <input type="hidden" name="sp4option6" value="Ser TV">

            <input type="radio" id="Tænker meget over ting" name="sp4svar" value="Tænker meget over ting" required>
            <label for="Tænker meget over ting">Tænker meget over ting</label><br>
            <input type="hidden" name="sp4option7" value="Tænker meget over ting">
            <br>

            <label for="Hvad laver du, fra du lægger dig i sengen, til du sover?">uddyb her</label>
            <input type="text" class="form-control" id="Hvad laver du, fra du lægger dig i sengen, til du sover?" name="sp4uddyb" placeholder="skriv her...">

        </div>
    </div>

    <!-- Spørgsmål fem -->
    <div class="card">
        <div class="card-body">
            <p>Hvor mange gange vågner du om natten?</p>
            <input type="hidden" name="sp5tekst" value="Hvor mange gange vågner du om natten?">

            <input type="radio" id="En gang" name="sp5svar" value="En gang">
            <label for="En gang">En gang</label><br>
            <input type="hidden" name="sp5option1" value="En gang">

            <input type="radio" id="To gange" name="sp5svar" value="To gange">
            <label for="To gange">To gange</label><br>
            <input type="hidden" name="sp5option2" value="To gange">

            <input type="radio" id="Tre gange" name="sp5svar" value="Tre gange">
            <label for="Tre gange">Tre gange</label><br>
            <input type="hidden" name="sp5option3" value="Tre gange">

            <input type="radio" id="Fire gange" name="sp5svar" value="Fire gange">
            <label for="Fire gange">Fire gange</label><br>
            <input type="hidden" name="sp5option4" value="Fire gange">

            <input type="radio" id="Fem gange" name="sp5svar" value="Fem gange">
            <label for="Fem gange">Fem gange</label><br>
            <input type="hidden" name="sp5option5" value="Fem gange">
            <br>

            <label for="Hvor mange gange vågner du om natten?">uddyb her</label>
            <input type="text" class="form-control" id="Hvor mange gange vågner du om natten?" name="sp5uddyb" placeholder="skriv her...">

        </div>
    </div>

    <!-- Spørgsmål seks -->
    <div class="card">
        <div class="card-body">
            <p>Hvor lang tid tager det dig at falde i søvn, efter du har lagt dig i sengen?</p>
            <input type="hidden" name="sp6tekst" value="Hvor lang tid tager det dig at falde i søvn, efter du har lagt dig i sengen?">

            <input type="radio" id="Ca. 15 minutter" name="hvor lang tid tager det dig at falde i søvn, efter du har lagt dig i sengen?" value="Ca. 15 minutter">
            <label for="Ca. 15 minutter">Ca. 15 minutter</label><br>
            <input type="hidden" name="sp6option1" value="Ca. 15 minutter">

            <input type="radio" id="Ca. 30 minutter" name="hvor lang tid tager det dig at falde i søvn, efter du har lagt dig i sengen?" value="Ca. 30 minutter">
            <label for="Ca. 30 minutter">Ca. 30 minutter</label><br>
            <input type="hidden" name="sp6option2" value="Ca. 30 minutter">

            <input type="radio" id="Ca. 45 minutter" name="hvor lang tid tager det dig at falde i søvn, efter du har lagt dig i sengen?" value="Ca. 45 minutter">
            <label for="Ca. 45 minutter">Ca. 45 minutter</label><br>
            <input type="hidden" name="sp6option3" value="Ca. 45 minutter">

            <input type="radio" id="Ca. en time" name="hvor lang tid tager det dig at falde i søvn, efter du har lagt dig i sengen?" value="Ca. en time">
            <label for="Ca. en time">Ca. en time</label><br>
            <input type="hidden" name="sp6option4" value="Ca. en time">
            
            <input type="radio" id="Over en time" name="hvor lang tid tager det dig at falde i søvn, efter du har lagt dig i sengen?" value="Over en time">
            <label for="Over en time">Over en time</label><br>
            <input type="hidden" name="sp6option5" value="Over en time">
            <br>

            <label for="hvor lang tid tager det dig at falde i søvn, efter du har lagt dig i sengen?">uddyb her</label>
            <input type="text" class="form-control" id="hvor lang tid tager det dig at falde i søvn, efter du har lagt dig i sengen?" name="sp6uddyb" placeholder="skriv her...">

        </div>
    </div>

    <!-- Spørgsmål syv -->
    <div class="card">
        <div class="card-body">
            <p>Hvor mange timer sover du om natten?</p>
            <input type="hidden" name="sp7tekst" value="Hvor mange timer sover du om natten?">

            <input type="radio" id="Under syv timer" name="hvor mange timer sover du om natten?" value="Under syv timer">
            <label for="Under syv timer">Under syv timer</label><br>
            <input type="hidden" name="sp7option1" value="Under syv timer">

            <input type="radio" id="Mellem syv & ni timer" name="hvor mange timer sover du om natten?" value="Mellem syv & ni timer">
            <label for="Mellem syv & ni timer">Mellem syv & ni timer</label><br>
            <input type="hidden" name="sp7option2" value="Mellem syv og ni timer">

            <input type="radio" id="Over ni timer" name="hvor mange timer sover du om natten?" value="Over ni timer">
            <label for="Over ni timer">Over ni timer</label><br>
            <input type="hidden" name="sp7option3" value="Over ni timer">
            <br>

            <label for="hvor mange timer sover du om natten?">uddyb her</label>
            <input type="text" class="form-control" id="hvor mange timer sover du om natten?" name="sp7uddyb" placeholder="skriv her...">

        </div>
    </div>
    <br>
    <!-- Spørgsmål otte... maybe to come -->

   <div class="row g-3">
        <button type="submit" class="col-md-6 btn btn-primary">Send</button>
        <button type="button" class="col-md-6 btn btn-success" onclick="GemOgSend">Gem & Send</button>
    </div>
    
</form>
{% endblock %}
