
{% extends "layout.html" %}
{% block title %}
Survey Statistics
{% endblock %}
{% block content %}
<div class="backAndlogout">
    <a class="btn btn-secondary" href="/admin_dashboard" role="button">< Back</a>
    <a class="btn btn-secondary" href="/logout" role="button">Logout</a>
</div>
<p>Survey Statistics</p>
<label> This many as answered the survey: {{number_of_res}} </label> <br>
{% for question, img in plots%}
    <label> {{question.text}}</label>
    <img src="data:image/png;base64,{{img}}"> <br>
{% endfor %}
{% endblock %}
