{% extends "layout.html" %}
{% block title %}
Survey List
{% endblock %}
{% block content %}
<div class="backAndlogout">
    <a class="btn neutral-btn" href="/admin_dashboard" role="button">&larr; Tilbage</a>
    <a class="btn negativ-btn" href="/logout" role="button">Log ud</a>
</div> <br>
<h1> Liste over spørgeskemaer </h1>

<div class="survey-layout">
    <div class="survey-list">

        {% for survey in surveys %}
            <ul class="survey-item">
                <a class="list-group-item" href="{{ url_for('survey', param=survey.uuid)}}"> {{survey.title}} - {{survey.desc}}</a>
                <a class="btn positiv-btn" href="{{ url_for('survey_stats', param=survey.uuid) }}" role="button">Statistik</a>
                <div class="btn default-btn" onclick="copyToClipboard('{{ survey.uuid }}')">Kopier</div>
                <a class="btn negativ-btn" href="{{ url_for('deletesurvey', param=survey.uuid) }}" role="button">Slet</a>
            </ul>
        {% endfor %}
    </div>
</div>

<script>
    const copyToClipboard = async (surveyuuid) => {
        try {
            await navigator.clipboard.writeText(location.hostname +":"+ location.port +"/survey/" + surveyuuid);
            console.log("Text copied to clipboard!");

        } catch (error) {
            console.error("Failed to copy to clipboard:", error);
        }
    };
</script>

{% endblock %}