{% extends "layout.html" %}
{% block title %}
TestInsertDatabase
{% endblock %}
{% block content %}
<p>Test insert into database</p>

<div class="form-check">
  <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
  <label class="form-check-label" for="radioDefault1">
    Default radio
  </label>
</div>

<form class="row g-3" action="{{url_for("testInsertDatabase")}}" method="POST">
  <div class="col-md-3">
    <label for="validationDefault01" class="form-label">Name</label>
    <input type="text" class="form-control" id="name1" name="fname" value="Mark" required>
  </div>
  <div class="col-md-1">
    <label for="validationDefault02" class="form-label">Age</label>
    <input type="number" class="form-control" id="age1" name="age" value="27" required>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>


{% endblock %}
